


body {background-image: linear-gradient(to top,rgba(73, 80, 74, 0.014), rgba(210, 217, 221, 0.737)), url(images/beach1.jpg);
    background-size:cover;
    background-position : center top;
    background-attachment: fixed;

    font-family: 'Noto Sans KR', sans-serif;}

    h1,h4 { font-family: 'Gugi';
    }
    
.gugi-font{font-family:'Bagel Fat One';font-size: 28px; color:#555555}
.dropdown-item, .nav-link,.container {font-family:'Nanum Gothic';color:#555555}

