.gugi-font{font-family:'Bagel Fat One';font-size: 28px; color:#555555}
.dropdown-item, .nav-link{font-family:'Nanum Gothic';color:#555555}

.btn{background-color:#FECCBE ; color:#555555
}


.card-title{font-family:'Nanum Gothic';font-size: 28px; color:#555555 font-weight:bold;}

.card-text{font-family:'Nanum Gothic';font-size: 15px; color:#555555}

body{background-color: #F7F7F7;}